TinderClone.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TinderClone.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TinderClone.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Expressions.xcexplist
